name: "✒ Lint commit messages with commitlint"

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize

jobs:
  commit-lint:
    name: "✒ lint commit message"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5